*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.bg{
    position: absolute;
    right : 0;
    bottom: 0;
    z-index : -1;
}

@media(min-aspect-ratio: 16/9){
    .bg{
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16/9){
    .bg{
        width: auto;
        height: 100%;
    }
}

nav{
    display: flex;
    padding: 2% 3.5%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 50px;
    height: 55px;
    padding: 2% 3.5%;
}

.nav-links{
    flex:1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 9px 9px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #1c2892;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #1c2892;
    background: #1c2892;
    transition: 1s;
}

.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}

.about p{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    padding: 5px;

}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size:14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}


h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}


.doctors{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}

.doctors-col{
    flex-basis: 20%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    padding: 20px 12px;
    cursor:pointer;
    
}

.doctors-col img{
    border-radius: 20px;
}

.doctors-col p{
    background: #ddc4ff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;

}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 600;
}

.icons.fa{
    color: #fff;
    margin: 0 13px;
    cursor:pointer;
    padding: 18px 0;
}